In [21]:
import pandas as pd

In [52]:
df= pd.read_excel("data-raw/nyc.xlsx", skiprows=7)
df

       Period    Value  Unnamed: 2
0    Jan-2016  17453.0         NaN
1    Feb-2016  16828.0         NaN
2    Mar-2016  16547.0         NaN
3    Apr-2016  17066.0         NaN
4    May-2016  18114.0         NaN
..        ...      ...         ...
115  Aug-2025      NaN         NaN
116  Sep-2025      NaN         NaN
117  Oct-2025      NaN         NaN
118  Nov-2025      NaN         NaN
119  Dec-2025      NaN         NaN

[120 rows x 3 columns]

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Period      120 non-null    object
 1   Value       111 non-null    float64
 2   Unnamed: 2  0 non-null      float64
dtypes: float64(2), object(1)
memory usage: 2.9+ KB

In [56]:
#find percentage change of business applications in NYC from March 2025 to March 2024
df.period

AttributeError: 'DataFrame' object has no attribute 'period'