In [117]:
import pandas as pd

In [118]:
df= pd.read_excel("data-raw/nyc.xlsx")
df

       Period  Value
0    Jan-2016 17,453
1    Feb-2016 16,828
2    Mar-2016 16,547
3    Apr-2016 17,066
4    May-2016 18,114
..        ...    ...
115  Aug-2025    NaN
116  Sep-2025    NaN
117  Oct-2025    NaN
118  Nov-2025    NaN
119  Dec-2025    NaN

[120 rows x 2 columns]

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Period  120 non-null    object
 1   Value   111 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.0+ KB

In [120]:
#find percentage change of business applications in NYC from March 2025 to March 2024
df.Period

0      Jan-2016
1      Feb-2016
2      Mar-2016
3      Apr-2016
4      May-2016
         ...
115    Aug-2025
116    Sep-2025
117    Oct-2025
118    Nov-2025
119    Dec-2025
Name: Period, Length: 120, dtype: object

In [121]:

# df['Period'] = pd.to_datetime(df['Period'], format='%b-%Y')

In [133]:
df = df.sort_values(by= "Period", ascending= False)
df

       Period  Value  Percent_Change
116  Sep-2025    NaN             NaN
104  Sep-2024 23,913             NaN
92   Sep-2023 26,152               9
80   Sep-2022 25,084              -4
68   Sep-2021 24,557              -2
..        ...    ...             ...
51   Apr-2020 12,122             -58
39   Apr-2019 19,810              63
27   Apr-2018 18,650              -6
15   Apr-2017 17,732              -5
3    Apr-2016 17,066              -4

[120 rows x 3 columns]

In [131]:
df['Percent_Change'] = df['Value'].pct_change() * 100

/var/folders/vv/tf9r_62j1k75w_b3m6khrjgc0000gn/T/ipykernel_21088/2758170187.py:1: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df['Percent_Change'] = df['Value'].pct_change() * 100